Hello
<br>
<a href="/company"> Contact comp</a>

<p> Let's Display data here</p>

<% icompany.forEach(function(datacompany){ %> <br>
Name : <%= datacompany.name %> <br>
Companyname : <%= datacompany.companyname %> <br>
Address: <%= datacompany.address %><br>
Phone : <%= datacompany.contactno %><br>
<%})%>
