Hello
<br>
<a href="/contact"> Contact Us</a>

<p> Let's Display data here</p>

<% icontact.forEach(function(datacontact){ %> <br>
Name : <%= datacontact.name %> <br>
Email : <%= datacontact.email %> <br>
Phone: <%= datacontact.mobile %><br>
Message: <%= datacontact.message %><br>
<%})%>
